absl-py==2.1.0
alembic==1.14.0
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.6.2.post1
APScheduler==3.11.0
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
astunparse==1.6.3
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
Brotli==1.1.0
bs4==0.0.2
cachetools==5.5.0
cairocffi==1.7.1
cashfree_sdk==0.1.3
certifi==2024.6.2
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloud-init-gen==1.2.0
colorama==0.4.6
confluent-kafka==2.6.0
contourpy==1.3.1
cryptography==43.0.1
cssselect2==0.7.0
cycler==0.12.1
DateTime==5.5
dicttoxml==1.7.16
dj-database-url==2.3.0
Django==5.1.4
django-anymail==12.0
django-cors-headers==4.4.0
django-crontab==0.7.1
django-email==0.1.10
django-smtp-ssl==1.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djongo==1.3.7
dnspython==2.7.0
docopt==0.6.2
drf-yasg==1.21.7
email_validator==2.2.0
environ==1.0
et_xmlfile==2.0.0
fastapi==0.115.3
fastapi-cli==0.0.5
Flask==3.1.0
Flask-JWT-Extended==4.7.1
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
flatbuffers==25.1.24
flexcache==0.3
flexparser==0.4
fonttools==4.55.7
fpdf==1.7.2
gast==0.6.0
google-api-core==2.23.0
google-auth==2.36.0
google-cloud-core==2.4.1
google-cloud-translate==3.18.0
google-pasta==0.2.0
googleapis-common-protos==1.66.0
greenlet==3.1.1
grpc-google-iam-v1==0.13.1
grpcio==1.68.0
grpcio-status==1.68.0
grupob_zoho==0.1.1
h11==0.14.0
h5py==3.12.1
html5lib==1.1
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
idna==3.7
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keras==3.8.0
keras-nightly==3.8.0.dev2025012803
kiwisolver==1.4.8
libclang==18.1.1
lxml==5.3.0
Mako==1.3.6
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mathparse==0.1.2
matplotlib==3.10.0
mdurl==0.1.2
ml-dtypes==0.4.0
mongoengine==0.29.1
mysqlclient==2.2.4
namex==0.0.8
nltk==3.9.1
num2words==0.5.14
numpy==2.0.2
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.14.0
oscrypto==1.3.0
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
parse==1.20.2
pdfkit==1.0.0
pem==23.1.0
pillow==10.3.0
Pint==0.24.4
platformdirs==4.3.6
postgres==4.0
proto-plus==1.25.0
protobuf==5.29.0
psycopg==3.2.4
psycopg2==2.9.9
psycopg2-binary==2.9.9
psycopg2-pool==1.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
pydyf==0.11.0
Pygments==2.18.0
pyHanko==0.25.1
pyhanko-certvalidator==0.26.3
PyJWT==2.8.0
pymongo==3.11.4
PyMySQL==1.1.1
pyotp==2.9.0
pyparsing==3.2.1
pypdf==5.0.1
PyPDF2==3.0.1
pyphen==0.17.2
pypng==0.20220715.0
PySocks==1.7.1
python-bidi==0.6.1
python-dateutil==2.7.5
python-docx==1.1.2
python-dotenv==1.0.1
python-http-client==3.3.7
python-multipart==0.0.12
pytz==2024.1
PyYAML==6.0.2
qrcode==7.4.2
regex==2024.11.6
reportlab==4.3.0
requests==2.32.3
rich==13.9.3
rsa==4.9
scikit-learn==1.6.1
scipy==1.15.1
selenium==4.25.0
sendgrid==6.11.0
setuptools==75.8.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.36
sqlparse==0.5.3
starkbank-ecdsa==2.2.0
starlette==0.41.0
svglib==1.5.1
tb-nightly==2.19.0a20250129
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
tf_nightly==2.19.0.dev20250128
threadpoolctl==3.5.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tk==0.1.0
tqdm==4.67.1
trio==0.27.0
trio-websocket==0.11.1
typer==0.12.5
types-pkg-resources==0.1.3
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ua-parser==0.18.0
uritemplate==4.1.1
uritools==4.0.3
urllib3==2.2.2
user-agents==2.2.0
uvicorn==0.32.0
watchfiles==0.24.0
weasyprint==64.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
wheel==0.45.1
whitenoise==6.8.2
wkhtmltopdf==0.2
wrapt==1.17.2
wsproto==1.2.0
xhtml2pdf==0.2.16
xlrd==2.0.1
xmltodict==0.14.2
zope.interface==7.2
zopfli==0.2.3.post1
